@model IEnumerable<LoanDetailModel>
@{
	ViewData["Title"] = "Detalles de Préstamos";
}

<h1 style="text-align:center">Todos los detalles de préstamos realizados</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">

			@if (TempData["message"] != null)
			{
				<div class="alert alert-primary" role="alert">
					@TempData["message"]
				</div>
			}

			<table class="table table-bordered table-striped table-responsive" id="loanDetailTable">
				<thead>
					<tr>
						<td>Detalle ID</td>
						<td>Préstamo ID</td>
						<td>Libro</td>
						<td>Cantidad prestada</td>
						<td>Acciones</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var loanDetail in Model)
					{
						<tr>
							<td>@Html.DisplayFor(item => loanDetail.DetailId)</td>
							<td>@Html.DisplayFor(item => loanDetail.LoanId)</td>
							<td>@loanDetail.Book?.Title</td>
							<td>@Html.DisplayFor(item => loanDetail.Quantity)</td>
							<td>
								<a asp-controller="LoanDetail"
								   asp-action="Edit"
								   asp-route-id="@loanDetail.DetailId"
								   class="btn btn-primary">
									Editar
								</a>
								<a asp-controller="LoanDetail"
								   asp-action="Delete"
								   asp-route-id="@loanDetail.DetailId"
								   class="btn btn-danger">
									Eliminar
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$("#loanDetailTable").DataTable({
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'csv',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					},
					{
						extend: 'pdf',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					},
					{
						extend: 'excel',
						exportOptions: {
							columns: ':not(:last-child)'
						}
					}
				],
				columnDefs: [
					{
						targets: 4,
						orderable: false,
						searchable: false
					}
				],
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
				}
			});
		});
	</script>
}
